.lessons-page {
  width: 100%;
  padding: 0 50px;
  position: relative;
}

.lessons-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lessons-page-header-button-add-new-lesson {
  padding: 12px 30px 12px 54px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--add-new-subject-button);
  color: var(--app-text-color);
  cursor: pointer;
  position: relative;
}

.lessons-page-header-button-add-new-lesson-img {
  width: 28px;
  position: absolute;
  top: 6px;
  left: 24px;
}

.lessons-page-header-button:hover {
  background-color: var(--add-new-subject-button-hover);
}

.lessons-page-lessons-list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.lessons-page-lessons-list-empty-lessons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lessons-page-lessons-list-empty-lessons-image {
  width: 500px;
}