.lesson-creation-page {
  padding: 0 200px;
  width: 100%;
}

.lesson-creation-page-header {
  display: flex;
  align-items: center;
  position: relative;
}

.lesson-creation-page-header-title {
  margin: auto;
}

.lesson-creation-page-header-close-button {
  width: 20px;
  position: absolute;
  right: 0;
  top: 5px;
}

.lesson-creation-page-creation-form {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  gap: 24px;
}

.lesson-creation-page-title-and-subject-section {
  display: flex;
  justify-content: left;
  gap: 72px;
}

.lesson-creation-page-title-and-subject-input-label {
  font-size: 18px;
}

.lesson-creation-page-title-and-subject-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.lesson-creation-page-title-and-subject-input-field {
  height: 40px;
  width: 400px;
  border-radius: 10px;
  border: none;
  padding: 0 20px;
  color: var(--app-text-color);
  font-size: 16px;
  background-color: var(--card-border-color);
  outline: none;
}

.lesson-creation-page-title-and-subject-input-field:focus {
  padding: 0 18px;
  border: 2px solid var(--exam-card-option-active);
}

.lesson-creation-page-input-field.subject {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
 }

.lesson-creation-page-subject-titles-list-wrapper {
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid var(--card-border-color);
  position: absolute;
  top: 70px;
  width: 100%;
  z-index: 9999;
}

.lesson-creation-page-subject-titles-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
  background-color: var(--card-background-color);
  padding: 16px;
  max-height: 200px;
  overflow-y: auto;
}

.lesson-creation-page-subject-title {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.lesson-creation-page-subject-title:hover {
  background-color: var(--card-border-color);
}

.lesson-creation-page-lesson-data-editor {
  width: 100%;
}

.lesson-creation-page-lesson-editor {
  height: 300px;
  margin: 20px 0;
}

.lesson-creation-page-lesson-editor-field {
  height: 100%;
}

.ql-toolbar,
.ql-editor {
  background-color: #fff;
  color: #000;
}

.lesson-creation-page-button-create {
  margin-top: 30px;
  padding: 12px 48px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  color: var(--app-text-color);
  background-color: var(--add-new-subject-button);
  cursor: pointer;
}

.lesson-creation-page-button-create:hover {
  background-color: var(--add-new-subject-button-hover);
}