.subject-card {
  background-color: var(--card-background-color);
  border: 2px solid var(--card-border-color);
  border-radius: 20px;
  padding: 24px 32px;
  min-width: 300px;
  flex-grow: 1;
  position: relative;
}

.subject-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subject-card-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 80%;
}

.subject-card-info-icon {
  width: 42px;
}

.custom-tooltip-container {
  position: relative;
  display: inline-block;
}

.custom-tooltip {
  width: 250px;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(20%);
  background-color: #333;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  opacity: 0.9;
  z-index: 1;
}

.custom-tooltip p {
  margin: 0;
}